.about-section {
    position: relative;
    margin: 20px;
    padding: 20px;
}
.about-header {
    position: relative;
    font-weight: 500;
}

.about-content {
  max-width: 750px;
}

.about-content ul {
    list-style: none;

}

.about-content ul li {
     margin-bottom: 0.5em;

}

.about-quote {
    font-size: x-large;
    font-family: 'Caveat', sans-serif;
    padding-left: 1em;
    margin: 0;
}

.about-quote__italic {
    text-decoration: underline;
}

.about-tools {
    display: flex;
}


.success-list {
    margin-bottom: 3em;
}

.tools-list {
    padding-left: 10px;
}

.drawing-ux {
    position: absolute;
    top: 10px;
    right: -150px;
    width: 150px;
    height: 120px;
    background: url(../assets/images/drawings/ux.png) no-repeat;
    background-size: contain;
    z-index: -1;
    transform: rotate(2deg);
}

.drawing-wrench {
    display: inline-block;
    position: relative;
    top: 15px;
    width: 90px;
    height: 60px;
    background: url(../assets/images/drawings/wrench.png) no-repeat;
    background-size: contain;
    transform: rotate(-20deg);
}


@media (max-width: 1100px) {
    .drawing-ux {
        position: relative;
        left: calc(100vw - 260px);
        top: 0;
        z-index: 1;
    }

}


/*.about-process {*/
   /*padding: 20px;*/
/*}*/


/*.about-process ul {*/
    /*list-style: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/*.about-process ul li {*/
    /*position: relative;*/
    /*height: 90px;*/
    /*margin-left: 30%;*/
    /*border-left: 2px solid grey;*/
/*}*/

/*.process-item:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: -10px;*/
    /*width: 14px;*/
    /*height: 14px;*/
    /*border-radius: 50%;*/
    /*background-color: white;*/
    /*border: 2px solid gray;*/

/*}*/

/*.process-item-name,*/
/*.process-item-description {*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*width: 190px;*/
    /*font-family: 'Lato', sans-serif;*/

/*}*/

/*.process-item-name {*/
    /*font-weight: bold;*/
/*}*/

/*.process-item-description {*/
    /*font-style: italic;*/
/*}*/

/*.left {*/
    /*left: -220px;*/
    /*text-align: right;*/
/*}*/

/*.right {*/
    /*left: 30px;*/
    /*text-align: left;*/
/*}*/