@import url(https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Mono|Coda|Lato|Garamond);


body {
    color: #191919;
    font-family: 'Roboto', serif;
    max-width: 100vw;
    overflow-x: hidden;

}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    z-index: 2;
}

.menu {
    width: 100vw;
    background-color: #383838;
    color: white;
    margin-right: 30px;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
    font-size: larger;

}

.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 3em 0 0;
}

.menu-link {
    color: #D04637;
    text-decoration: none;
    margin: 5px 20px;
}

.menu-link:hover {
    color: whitesmoke;
}

.main {
    max-width: 900px;
    margin: 180px auto 200px auto;
    transition: margin .7s ease-out;
}

.main.fold-closed {
    margin-top: 30px;
}

.paperfold {
    display: block;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: 'Roboto Mono', serif;
    font-size: x-large;
}

.fold {
    height: 120px;
    background: #383838;
}

.fold p {
    margin: 0;
    padding: 15px 20px 0px 40px;
}

.drawing-list-item {
    position: relative;
    top: 12px;
    display: inline-block;
    margin-bottom: 5px;
    height: 25px;
    width: 25px;


}

.drawing-list-item.one {
    background: url(../assets/images/drawings/1.png) no-repeat;
    background-size: contain;
}

.drawing-list-item.two {
    background: url(../assets/images/drawings/2.png) no-repeat;
    background-size: contain;
}

.drawing-list-item.three {
    background: url(../assets/images/drawings/3.png) no-repeat;
    background-size: contain;
}

.drawing-ul {
    list-style: none;

}

.drawing-ul li {
    position: relative;
    margin-left: 3em;
    text-indent: -1em;
}

.drawing-ul li:before {
    content:'';
    position: absolute;
    top: 0px;
    left: -40px;
    height: 20px;
    width: 20px;
    background: url(../assets/images/drawings/list-icon.png) no-repeat;
    background-size: contain;
}



@media (max-width: 900px) {

    .paperfold {
        font-size: large;
    }

    .menu {
        font-size: inherit;
    }

    .fold {
        height: 100%;
    }

}

@media (max-width: 600px) {
    .main {
        margin: 200px auto 200px auto;
    }
    /*.fold {*/
        /*height: 90px;*/
    /*}*/
}

