@import url(https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Mono|Peddana);

body {
    color: #474747;
    font-family: 'Roboto', serif;
    font-size: larger;
    background-color: rgba(255, 247, 214, 0.40);
}

.menu {
    width: 100vw;
    background-color: black;
    color: white;
    height: 40px;
    margin-right: 30px;
    font-family: 'Roboto', serif;

}

.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 3em 0 0;
    padding: 0;
}

.menu ul a {
    color: white;
    text-decoration: none;
}

.menu ul a:hover {
    color: white;
}

.menu ul li {
    margin: 5px 20px;
}

.content {
    position: relative;
    height: calc(100vh - 30px);
}

.content .work {

}

.content .about {

}

.content .contact {

}

.paperfold {
    display: block;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: 'Roboto Mono', serif;
    font-size: 30px;

}

.fold {
    height: 140px;
    background: black;
}

.fold p {
    margin: 0;
    padding: 15px 20px 0px 40px;
}
