.paperfold {

    display: block;
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 30px;
}

.fold {
    border: 1px solid white;
    height: 80px;
    background: black;
}

p {
    margin: 0;
    padding: 0;
}
