/* TODO use em's*/
/* TODO use -js classes for selectors used in code */

.work-section {
    position: relative;
}

.drawing-work {
    position: absolute;
    top: -10px;
    left: -120px;
    width: 230px;
    height: 180px;
    background: url(../assets/images/drawings/work.png) no-repeat;
    background-size: contain;
    transform: rotate(-8deg);
    z-index: -1;
}

.project-pane {
    position: relative;
    height: 100%;
    margin: 0 20px 20px 20px;
    padding: 15px 15px 0 15px;
    border: 1px solid grey;
    border-radius: 4px;
    line-height: 1.3em;
}

.project-title {
    display: flex;
    justify-content: flex-end;
    font-family: 'Coda', serif;
    color: grey;
    font-size: x-large;
    font-weight: bold;
    z-index: -1;
}

.project-header {
    text-indent: -1em;
}

.project-header::first-letter {
    font-size: x-large;
    font-weight: bold;
    color: grey;
    font-family: 'Coda', serif;
}

.project-header > p {
    margin-left: 1em;
}




.project-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .3s ease;
}

.project-content.expanded {
    max-height: 100%;
    opacity: 1;
}


.project-content > ol {
    list-style: none;
    margin-left: 1em;
}

.project-content > ol > li {
    padding-bottom: 0.5em;

}

.read-more {
    position: relative;
    top: 10px;
    left: 75%;
    width: 80px;
    padding: 0 10px;
    background-color: white;
    text-align: center;
    font-style: italic;
    cursor: pointer;
}

.read-more:hover {
    text-decoration: underline;
}

.image-link {
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.image-link:hover {
    border-bottom: 1px solid #474747;
}

.close-icon {
    height: 15px;
    width: 15px;
    margin-left: 10px;
    visibility: visible;
    opacity: 0;
    cursor: pointer;
    transition: opacity .3s;
}

.close-icon.visible {
    visibility: visible;
    opacity: 1;
}

/* modals  */

/* TODO media query for mobile */
.modal-img {
    max-width: 80vw;
    height: auto;
}

.img-carousel {
    margin: 0 auto;
    max-width: 900px;
}

.img-carousel img{
    margin: 0 auto;
    max-height: 80vh;
    width: auto;
}


