/* TODO use em's*/
/* TODO use -js classes for selectors used in code */

.project-pane {
    position: relative;
    /*TODO center & media queries*/
    margin: 20px 20px;
    padding: 15px;
    height: 100%;
    line-height: 1.3em;
}

.project-title {
    display: flex;
    justify-content: flex-end;
    font-family: 'Coda', serif;
    color: grey;
    font-size: x-large;
    font-weight: bold;
    z-index: -1;
}

.project-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .3s ease;
}

.project-content.expanded {
    max-height: 100%;
    opacity: 1;
}

.project-content,
.project-header > p,
.project-content > ol {
    margin-left: 3em;
}

.project-content > ol > li {
    padding-bottom: 0.5em;

}

.project-header {
    text-indent: -2em;
}

.project-header::first-letter {
    font-size: x-large;
    font-weight: bold;
    color: grey;
    font-family: 'Coda', serif;
}

.read-more {
    margin: 0 20% 0 20%;
    border-bottom: 1px solid gray;

}

.read-btn {
    position: relative;
    top: 10px;
    left: calc(50% - 30px);
    width: 60px;
    padding: 0 10px;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.read-button .expanded {
    height: 100%;
}

.image-link {
    margin-top: 2px;
    border-bottom: 1px solid gray;
    line-height: 0.9em;
    cursor: pointer;
}

.image-link:hover {
    border-bottom: 2px dashed gray;
}

.close-icon {
    height: 15px;
    width: 15px;
    margin-left: 10px;
    visibility: visible;
    opacity: 0;
    cursor: pointer;
    transition: opacity .3s;
}

.close-icon.visible {
    visibility: visible;
    opacity: 1;
}

/* modals  */

/* TODO media query for mobile */
.modal-img {
    max-width: 80vw;
    height: auto;
}

.img-carousel {
    margin: 0 auto;
    max-width: 80%;
}

.img-carousel img{
    margin: 0 auto;
    width: auto;
    height: 80vh;
}
